.container {
    margin: 0 auto;
    width: min(100%, 1440px);
}

/* Header */
header {
    padding: 52px 98px;
    background-color: #758BFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

ul {
    display: flex;
    column-gap: 50px;
    /* flex-wrap: wrap; */
}

.header_menu {
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    text-align: left;
}

.active {
    color: #133B3A;
}

.inactive {
    color: #DDEAF8;
}

.fa-magnifying-glass {
    font-size: 32px;
    color: #FFFFFF;
}

.search_box {
    width: 222px;
    display: flex;
    justify-content: flex-end;
    padding: 12px 8px;
    opacity: 0px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}

/* Section */
.main_section {
    /* background-color: aquamarine; */
    width: calc(1244 / 1440 * 100%);
    margin: 94px auto;
    display: flex;
    flex-direction: column;
    row-gap: 68px;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    color: #27187F;
}

.article_section {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-content: space-between */
    row-gap: 51px;
}

.cards {
    background-color: #DDEAF8;
    padding: 33px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.card_img {
    width: 100%;
    height: 211px;
    object-fit: cover;
}

h4 {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
    text-align: left;
    color: #133B3A;
}

/* Footer */
footer {
    background-color: #758BFD;
    padding: 75px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5 {
    font-family: "Gothic A1", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #FFFFFF;
}

.social_section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.fa-brands {
    color: #FFFFFF;
    font-size: 22px;
}

.social_nav {
    width: 114px;
    display: flex;
    justify-content: space-between;
}

.payment_section {
    width: 421px;
    display: flex;
    justify-content: space-between;
}